.idea
actualites.iml
rev-manifest.json
build/
node_modules
.gradle/
src/main/resources/public/template/entcore/
package-lock.json
.classpath
.project
.settings/
bin/
gradle/
gradlew*
.env
target
dependency-reduced-pom.xml