.thread-icon .app-icon {
  padding: 0.4rem;
}

.thread-icon svg {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.thread-icon-hidden-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}
