{
    "name": "{{ actualitesVersion }}",
    "config": {
        "main": "net.atos.entng.actualites.Actualites",
        "port": 8022,
        "optimized-query":true,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "sql": true,
        "mongodb": true,
        "app-name": "Actualites",
        "app-address": "/actualites",
        "app-icon": "actualites-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        "entcore.port": 8009,
        {% if actuReadDefault is defined %}
        "share": {
            "overrideDefaultActions": ["info.read"]
        },
        {% endif %}
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 11
                },
                "LIBELLE_SERVICE": {
                    "default": "ACTUALITES"
                }
            }
        }
    }
}