<div class="widget news">
	<h1><i18n>actualites.widget.title</i18n></h1>
	<div class="new">
		<a class="cell-ellipsis" ng-repeat="info in widget.infos" ng-class="{ 'border': $last === false }">
			<img class="new--icon" skin-src="/img/illustrations/actualites-default.png" ng-if="!info.thread.icon" />
			<img class="new--icon" ng-src="[[info.thread.icon]]?thumbnail=120x120" ng-if="info.thread.icon" />
			<span class="new--title" ng-href="/actualites#/view/thread/[[info.thread_id]]/info/[[info._id]]" tooltip="[[info.tooltip]]">[[info.title]]</span>
			<span class="new--info cell-ellipsis">[[info.relativeDate]] - [[info.username]]</span>
		</a>
		<p class="new--empty" ng-if="widget.infos === undefined || widget.infos.length === 0"><i18n>actualites.widget.empty</i18n></p>
	</div>
</div>