.btn-ai {
  border: 0;
  background: linear-gradient(249.1deg, #ecbe30 -1.66%, #c232aa 93.55%);
  min-width: 12rem;
}
.btn-ai:disabled {
  background: linear-gradient(249.1deg, #faea9c -1.66%, #f9beef 93.55%);
}
