.text-simplifier {
  --edifice-text-simplifier-animation-duration: 0.3s;
  position: relative;
}

.text-simplifier-children {
  position: relative;
  z-index: 1;
}

.text-simplifier-children > :first-child {
  background-color: var(--edifice-white);
}

.text-simplifier-border {
  background: linear-gradient(249.1deg, #faea9c -1.66%, #f9beef 93.55%);
  border-radius: 0 0 2.4rem 2.4rem;
  padding: var(--edifice-border-width);
  margin-top: -2.2rem;
}
.text-simplifier-background {
  background: linear-gradient(256.68deg, #fdfaec 15.81%, #fff5fd 82.7%);
  border-radius: 0 0 2.4rem 2.4rem;
  padding: 2.4rem 2.4rem 0.4rem 2.4rem;
}
